
.redContentButton {
	background-color: rgb(255, 0, 51) !important; 
	background-image:linear-gradient(-90deg, rgb(255, 0, 0), rgb(153, 0, 0)) !important;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(255, 0, 0)), to(rgb(153, 0, 0))) !important;
	background-image:-moz-linear-gradient(-90deg, rgb(255, 0, 0), rgb(153, 0, 0))!important;
	background-image:-o-linear-gradient(-90deg, rgb(255, 0, 0), rgb(153, 0, 0))!important;
	background-image:-ms-linear-gradient(-90deg, rgb(255, 0, 0), rgb(153, 0, 0))!important;
	text-shadow: none;
	color: #F5F5F5 !important;
}

.redContentButton:hover {
	background-color: rgb(255, 0, 51) !important; 
	background-image:linear-gradient(-90deg, rgb(255, 51, 51), rgb(204, 51, 51))!important;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(255, 51, 51)), to(rgb(204, 51, 51)))!important;
	background-image:-moz-linear-gradient(-90deg, rgb(255, 51, 51), rgb(204, 51, 51))!important;
	background-image:-o-linear-gradient(-90deg, rgb(255, 51, 51), rgb(204, 51, 51))!important;
	background-image:-ms-linear-gradient(-90deg, rgb(255, 51, 51), rgb(204, 51, 51))!important;
	background-position: 0px !important;
	text-shadow: none;
	color: #F5F5F5 !important;
}

.greyContentButton {
	background-color: #808080;
	background-image: none;
	text-shadow: none;
	color: #F5F5F5 !important;
}

.greyContentButton:hover {
	background-color: #A9A9A9 !important;
	background-image: none;
	text-shadow: none;
	color: #F5F5F5;
}

.noItemsCaption {
	text-align: center;
}

select:focus,textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus
	{
	border-color: rgba(255, 0, 0, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
		rgba(255, 0, 0, 0.6);
	outline: none !important;
}

